requests==2.19.1
setuptools>=40.0.0
Flask==0.12.2
Flask-Testing==0.6.2
Flask-RESTful==0.3.5
Flask-Script==2.0.5
Werkzeug==0.11.15
networkx==2.3.0
numpy==1.19.0
python-louvain==0.14
tweepy==3.8.0
itsdangerous==2.0.1
